# Firebase Configuration
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=busan-hak-port.firebaseapp.com
FIREBASE_PROJECT_ID=busan-hak-port
FIREBASE_STORAGE_BUCKET=busan-hak-port.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=616469111502
FIREBASE_APP_ID=1:616469111502:web:6f3c94b15e444e04c7669f
FIREBASE_MEASUREMENT_ID=G-QQ728TDFJ2
